<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    {{#each posts}}
                    <ul class="people_list">
                        <h2 class="post-title">
                            <a href="posts/{{ this._id }}">
                                <li>{{ this.title }}</li>
                            </a>
                        </h2>
                        <p class="post-meta">Posted by <a href="#"> {{ this.username }} </a>
                            on {{ this.createdAt }}
                        </p>
                        {{#if ../isLoggedIn}}
                        <form action="/posts/{{this._id}}?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger float-right">Delete Post</button>
                        </form>
                        <div class="form-group my-4 text-center">
                            <a href="/edit/{{this._id}}"><button class="btn btn-primary float-left" class="d-inline">Edit
                                    Post</button></a>
                        </div>
                        {{/if}}
                    </ul>
                    {{/each}}
                </div>
                <hr>

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts →</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
    </div>
</body>

<script>
    console.log("is Logged in", {{isLoggedIn}})
</script>