<div class="banner"><h1>Reflections and Thoughts on Virtual Reality, Web Development, and <br>the Future of Transhumanism</h1></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <ul class="people_list list-unstyled">
                    {{#each posts}}
                        <li>
                            <h2 class="post-title">
                                <a href="posts/{{ this._id }}">{{ this.title }}</a>
                            </h2>
                            <p class="post-meta">Posted by <a href="#"> {{ this.username }} </a>
                                on {{ this.createdAt }}
                            </p>
                            {{#if ../isLoggedIn}}
                                <div class="form-group my-4 text-center" style="display: flex; gap:10px">
                                    <a href="/edit/{{this._id}}">
                                        <button class="btn btn-primary float-left" class="d-inline">
                                            Edit Post
                                        </button>
                                    </a>
                                <form action="/posts/{{this._id}}?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger float-right">Delete Post</button>
                                </form>
                                </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <hr>

        </div>
    </div>
</div>